click
colorama
cycler
Flask
flask-heroku
fonttools
gunicorn
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
numpy
packaging
pandas
Pillow
protobuf
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
typing_extensions
Werkzeug
zipp
